* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/setup-girl.jpg');
  background-size: 100vw 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  font-size: 0.75em;
}

@media (min-width: 320px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 2em;
  }
}

#scrollToTop {
  padding: 4px 8px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  color: #313366;
  border: 1px solid #313366;
  font-size: 0.8em;
  opacity: 0.8;
  transition: opacity 0.5s;
}

#scrollToTop:hover,
#scrollToTop:active {
  opacity: 0.8;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.menu {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li,
.knowledge li,
.projects li {
  list-style: none;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #313366;
  transition: color 0.5s;
  font-size: 0.7em;
}

.menu a:active,
.menu a:hover {
  color: #E9C2C5;
}

header .title,
header .subtitle {
  color: #313366;
  text-align: center;
}

footer p {
  color: #313366;
  text-align: center;
}

header .subtitle {
  white-space: nowrap;
  margin: 0 auto;
  font-weight: 300;
  animation: typing 4s steps(25) 0.5s normal;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

header .subtitle:after {
  content: "|";
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

header .arrow-down {
  position: absolute;
  bottom: 50px;
  display: block;
}

header .fa-angle-double-down {
  color: black;
  font-size: 1.5em;
  opacity: 0.5;
  animation: rollover 1s ease infinite;
}

@keyframes rollover {
  to {
    opacity: 0.1;
    transform: translateY(20px);
  }
}

.about,
.contact
.projects {
  padding: 4em;
  height: 100vh;
}

.about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #D9B8BE;
}

@media (min-width: 768px) {
  .about-content,
  .knowledge-content,
  .projects-content {
    max-width: 50%;
  }
}

.about .title,
.about p,
.about a {
  color: #313366;
  text-align: right;
}

.about .title,
.knowledge .title,
.projects .title {
  color: #313366;
  font-weight: 400;
  margin-bottom: 1em;
}

.about p {
  font-weight: 300;
  font-size: 0.8em;
  margin: 1em 0;
  color: #313366;
}

.knowledge p {
  font-weight: 300;
  font-size: 0.8em;
  margin: 1em 0;
  color: #313366;
}

.projects p {
  font-weight: 300;
  font-size: 0.8em;
  margin: 1em 0;
  color: #313366;
}

.knowledge {
  display: flex;
  min-height: 100vh;
  padding: 4em;
  align-items: center;
  background-color: #F2C9D1;
}

.projects {
  display: flex;
  min-height: 100vh;
  padding: 4em;
  align-items: center;
  background-color: #F2E4E8;
}

.knowledge li {
  float: left;
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  padding: 4px 16px;
  margin: 16px 16px 0 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: #313366;
  color: #313366;
}

.projects li {
  float: left;
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  padding: 4px 16px;
  margin: 16px 16px 0 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: #313366;
  color: #313366;
}

.contact {
  color: #313366;
  display: flex;
  min-height: 100vh;
  padding: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FEE1DD;
}

.contact .title,
.contact .icons {
  font-weight: 400;
  margin-bottom: 1em;
  padding: inherit;
}

@media (max-width: 414px) {
  .contact .grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1em;
  }
}

.contact a {
  color: #313366;
  font-size: 3em;
  text-decoration: none;
  transition: text-shadow 0.2s;
}

footer {
  height: 40px;
  margin-top: -40px;
}

footer p {
  text-align: center;
  font-size: 0.6em;
}
